/* Style for Tanya's Portfolio */

:root{
  --blue: #38b6ff;
  --black: #0000;
  --white: #ffff;
  --light-gold: #dac92fb7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* general styling */
body{
  color: var(--blue);
  font-family:'Times New Roman', Times, serif;
  background-color: var(--white);
}

/* styles for header, nav, and footer using the same elements here*/
header {
  padding: 20px 35px;
  background-color: var(--blue);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}

header h1 {
  font-weight: bold;
  font-size: 45px;
  color: var(--white);
  margin: 0;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

header a {
  text-decoration: none;
  color: var(--white);
}

header nav {
  margin: 8px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

/*header HOVER effect- */
header nav ul li a:hover {
  background: var(--white);
  color: var(--blue);
  border-radius: 10px;
  text-shadow: none;
  text-decoration:underline;
}

/* section{
  padding: 10px 40px;
}
*/


/* Footer styles */
footer {
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background: var(--light-gold);
  width: 100%;
  padding: 40px 35px;
}

footer h2 {
  padding-top: 18px;
  color: var(--white);
  font-size: 40px;
  margin: 0; 
  display: flex;
}

footer nav ul li p:hover{
  background: var(--light-gold);
  color: var(--white);
  border-radius: 10px;
  text-shadow: none;
  text-decoration:underline;
}

/* Hero */
.hero {
  display: flex;
  margin: 15px;
  flex: 1;
  justify-content: center;
}

.hero img {
  align-self: center;
  height: 300px;
  width: 23%;
  padding-right: 2%;
}

/* utility class styling start */
.title {
  border-right: 5px solid var(--pop);
  min-height: 100%;
  text-align: right;
  padding-right: 40px;
  min-width: 20%;
  max-width: 20%;
}

.title h2 {
  font-size: 48px;
}

/* utility class styling end */

/* about me section styling start */
.about-me {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding-top: 30px;
  background-color: var(--blue);
}

.about-me p {
  font-size: 20px;
  padding: 0 30px;
  line-height: 1.6;
  width: 90%;
  color:var(--white);
}
.about-me h2 {
  color:var(--white);
}
/* about me section styling end */

/* my work section styling start */
.my-work {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  background-color: var(--white);
}

.my-work h2 {
  color: var(--blue);
}

.projects-grid-wrapper {
  width: 80%;
  height: 500px;
  display: flex;
  justify-content: center;
}

.projects-grid {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 10px;
}

.project {
  border: solid;
  color: black;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  text-decoration: none;
  background-size: cover;
  background-position: center;
  opacity: 0.7;
}

.project:hover {
  opacity: 1.0;
}

.horiseon {
  grid-column: 1/3;
  grid-row: span 2;
  background-image:url("assets/images/horiseon.PNG");
}

.run-buddy-1 {
  background-image: url("assets/images/run-buddy.PNG");
  background-position: 50% 15%;
}

.run-buddy-2 {
  background-image: url("assets/images/run-buddy.PNG");
  background-position: 60% 50%;
}

.run-buddy-3 {
  background-image: url("assets/images/run-buddy.PNG");
}

.portfolio {
  background-image: url("#");
}

.project-name {
  /*background-color: var(--secondary);*/
  background-color: var(--blue);
  color: black;
  padding: 10px;
}
/* my work section styling end */



/* contact me for style */

footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 30px;
  
}

.content-wrapper {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#contact-list {
  width: 75%;
}

footer ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  font-size: 30px;
  font-weight: bolder;
}

footer ul li {
  /*padding-bottom: 15px;*/
  font-weight: bold;

}

footer ul li a {
  text-decoration: none;
  color: var(--white);
  padding: 8px;
  font-weight: bold;
}

footer ul li a:hover {
    background: var(--white);
    color: var(--blue);
    border-radius: 10px;
    text-shadow: none;
    text-decoration:underline;
  }
/* contact me section styling end */