/* Style for Tanya's Portfolio */

:root{
  --blue: #38b6ff;
  --black: #0000;
  --white: #ffff;
  --light-gold: #dac92fb7;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* styles for body*/
body{
  color: var(--blue);
  font-family:'Times New Roman', Times, serif;
  background-color: var(--white);
}

section{
  padding: 10px 40px;
}

/* styles for header, nav, and footer using the same elements here*/
header {
  padding: 20px 35px;
  background-color: var(--blue);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: sticky -webkit-sticky; /*verify if this option works */
  top: 0; 
  z-index: 9999;
}

header h1, footer h2 {
  font-weight: bold;
  font-size: 45px;
  color: var(--white);
  margin: 0;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

header a, footer a, footer p {
  text-decoration: none;
  color: var(--white);
}

header nav, footer nav ul{
  margin: 8px 0;
}

header nav ul, footer nav ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a, footer nav ul li, footer nav ul li a, footer nav ul li p {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}
/*header and footer -HOVER effect- */
header nav ul li a:hover, footer nav ul li a:hover {
  background: var(--white);
  color: var(--blue);
  border-radius: 10px;
  text-shadow: none;
  text-decoration:underline;
}

footer nav ul li p:hover{
  background: var(--light-gold);
  color: var(--white);
  border-radius: 10px;
  text-shadow: none;
  text-decoration:underline;
}

/* Footer styles */
footer {
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background: var(--light-gold);
  width: 100%;
  padding: 40px 35px;
}

footer h2 {
  padding-top: 18px;
  color: var(--white);
  font-size: 40px;
  margin: 0; 
  display: flex;
}

/* Hero */
.hero {
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 15px;
  flex:1;
}

.hero h2, .work h2{
  color: var(--blue);
  font-size: 45px;
  margin:0;
  display: flex; 
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  text-decoration: underline;
}

.hero-body{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.hero p{
  flex: 1; 
  font-size: 1.5vw;
  padding: 100px 25px;
  justify-content: center;
}
.hero img{
  height: auto;
  width:50%;
  border: 10px double var(--black);
  padding: none;
}

/* Work styles */ 
.run-buddy, .horiseon {
  position: relative;
  flex-wrap: wrap;
  flex: 1;
}

.work img{
  display: flex;
  width: 100%;
  border: 5px solid var(--black);
  opacity: 0.75;
  margin: 10px;
}


.row{
  display: flex;
  flex-direction: row;
}


.horiseon {
  width: 50%;
  }

.work-image{
    height: 100%; 
}

.work img:hover{
  opacity: 1;
}


.image-label h3{
  color: var(--white);
  background-color: var(--blue);
  font-size: 1.5vw;
  margin: 10px;
  display: flex; 
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  z-index: 999;
  padding: 15px;
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.image-label h3:hover{
  background: var(--blue);
  color: var(--black);
  text-shadow: none;
  text-decoration:underline;
}
